# OS stuff #
################
.DS_store

# Others #
################
*.idea
*.pyc
*.spec
tmp/
build/
dist/
asp.txt.tmp
/tests/lp-programs/conflict_tester.txt
/tests/lp-programs/what_if.txt
/tests/lp-programs/original_asp_program.txt
Input.txt
input_nqueens.py
*.so
